.center {
    margin: auto;
    width: 45%;
    border: 3px blue;
    padding: 10px;
    font-family: Arial sans-serif;
}

table, tr, td {
   border: 1px solid black;
   font-family: Arial sans-serif;

}
fieldset{
	margin:auto;
	width: 40%;
	background-color:#80ff80;
	font-family: Arial;
}