/*mengatur font*/
body {
	font-family: Arial, Consolas, Verdana;
}

/*membuat tulisan 'Rp' pada kiri form input 'nominal'*/
.currency {
    color: #999;
    border-right: 0;
    line-height: 2.5;
    background: white;
   }

/* mengatur ukuran lebar header */
.lebar{
	width:100%;
}
/* mengatur sidebox kiri */
.sidebox{
	border: 3px solid black;
	width: 250px;
	height: 450px;
	background: green;
	float: left;
	color:white;
	padding-left:15px;
	padding-right:15px;
}
/* mengatur huruf judul sidebox kiri */
.sidebox h1{
	font-size:24px;
}
/* mengatur huruf paragraf sidebox kiri */
.sidebox p{
	font-size:16px;
	text-align:justify;
}
/* mengatur isi */
.isi{
	height:450px;
	border:3px solid green;
	background-color:white;
	margin-bottom: 15px;
	margin-left:300px;
	color: black;
	text-align:center;
}
/* mengatur kotak / fieldset isi */
.isi fieldset{
	text-align:left;
	margin-left:350px;
	margin-right:350px;
}
/* mengatur huruf judul isi */
.isi h1{
	font-size:50px;
	line-height:0px;
	text-align:center;
}
/* mengatur unorderlist dalam isi */
.isi ul {
	list-style:none; 
}
/* mengatur a href / link isi */
.isi a {
	text-decoration:none;
	color:white; 
	font-weight:bold;
	text-align:center;
}
/* mengatur tulisan yang dihidden yang muncul dalam isi */
span {
	color: red;
}
/* mengatur list dalam bagian isi */
.isi li {
	display:inline; 
	background-color: green;
	padding:5px;
	border:3px solid black; 
	margin-left:2px;
	margin-right:2px;
}
/* mengatur list ketika ada kursor dalam bagian isi */
.isi li:hover {
	background-color:white;
	border:3px solid green;
}
/* mengatur link ketika ada kursor dalam bagian isi */
.isi a:hover{
	color:black;
}
/* mengatur footer */
#footer{
	border: 1px dashed green;
	background-color: white;
	text-align: center;
}